@page "/"
@using LogAnalyserSite.Data
@using Microsoft.AspNetCore.Mvc.ApplicationModels
@using Newtonsoft.Json
@using System.Net
@using System.Net.Sockets
@using System.Text
@using System.Text.Json
@using System.Text.Json.Serialization
@using Type = LogAnalyserSite.Data.Type

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
    <EditForm OnSubmit="@ChangeFilter" Model="@_model">
        <InputCheckbox @bind-Value="_model.debugFilter" type="checkbox" class="btn-check" id="debugFilter" autocomplete="off"/>
        <label class="btn btn-outline-primary" for="debugFilter">Debug</label>

        <InputCheckbox @bind-Value="_model.infoFilter" type="checkbox" class="btn-check" id="infoFilter" autocomplete="off"/>
        <label class="btn btn-outline-primary" for="infoFilter">Info</label>

        <InputCheckbox @bind-Value="_model.warnFilter" type="checkbox" class="btn-check" id="warnFilter" autocomplete="off"/>
        <label class="btn btn-outline-primary" for="warnFilter">Warn</label>

        <InputCheckbox @bind-Value="_model.errorFilter" type="checkbox" class="btn-check" id="errorFilter" autocomplete="off"/>
        <label class="btn btn-outline-primary" for="errorFilter">Error</label>

        <InputCheckbox @bind-Value="_model.otherFilter" type="checkbox" class="btn-check" id="otherFilter" autocomplete="off"/>
        <label class="btn btn-outline-primary" for="otherFilter">Other</label>
    </EditForm>
</div>

<div id="console" class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Type</th>
            <th scope="col">Message</th>
        </tr>
        </thead>
        <tbody>
        @foreach (LogLine logline in data)
        {
            @if ((@logline.type == Type.DEBUG && _model.debugFilter) ||
                 (@logline.type == Type.INFO && _model.infoFilter) ||
                 (@logline.type == Type.WARN && _model.warnFilter) ||
                 (@logline.type == Type.ERROR && _model.errorFilter) ||
                 (@logline.type == Type.OTHER && _model.otherFilter))
            {
                <tr>
                    <td>@logline.date</td>
                    <td>@logline.time</td>
                    <td>@logline.type</td>
                    <td>@logline.message</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

@code{
    List<LogLine> data = new List<LogLine>();
    FilterModel _model = new FilterModel();
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if(!firstRender) return base.OnAfterRenderAsync(firstRender);
        TcpListener server = new TcpListener(IPAddress.Parse("127.0.0.1"), 65432);
        server.Start();
        TcpClient client = server.AcceptTcpClient();
        Console.WriteLine("A client connected.");
        NetworkStream stream = client.GetStream();
        while (true)
        {
            byte[] bytes = new byte[1024];
            int bytesRead = stream.Read(bytes, 0, bytes.Length);
            string data = Encoding.ASCII.GetString(bytes, 0, bytesRead);
            Console.WriteLine($"Received: {data}");
            LogLine logLine = JsonConvert.DeserializeObject<LogLine>(data);
            Console.WriteLine(logLine);
            this.data.Add(logLine);
            StateHasChanged();
        }
        StateHasChanged();
        return base.OnAfterRenderAsync(firstRender);
    }

    private void ChangeFilter()
    {
        Console.WriteLine($"{_model.debugFilter} {_model.infoFilter} {_model.warnFilter} {_model.errorFilter} {_model.otherFilter}");
        StateHasChanged();
    }

}